/* archives.scss */
.archives-group-year {
    margin-top: 2rem;
  }
  
  .archives-date {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .archives-group-month {
    margin-left: 1rem;
  }
  
  .archives-date-month {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .article-list--compact {
    margin-left: 2rem;
  }
  